<html>
<head>
    <style>h2 {margin: 0;}</style>
</head>
<body>
<br>
    <h2>express</h2>
    <a href="/animalList" target="_blank">GET /animalList</a></br>
    <a href="/animalList/0" target="_blank">GET /animalList/0</a></br>
    <form action="/addAnimal" method="post">
        <input type="text" name="name">
        <input type="submit" value="追加">
    </form>
    <form action="/deleteAnimal" method="post">
        <input type="number" name="id">
        <input type="submit" value="削除">
    </form>
</body>
</html>
